@page "/"
@implements IAsyncDisposable
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BookstoreDb> DbFactory
@rendermode InteractiveServer

<PageTitle>Bookstore - Home</PageTitle>

<div class="row mt-5 mx-auto">
    <div class="col-sm-2 border pt-3 me-3 mb-3">
        <a href="/books/create" class="btn btn-primary">Add Book</a>
        <div class="mt-3">
            <h6>Filter by:</h6>
            <select class="form-control" @bind="genreFilter">
                <option value="">Genre</option>
                @if(genres != null) {
                    @foreach(string genre in genres) {
                        <option value="@genre">@genre</option>
                    }
                }
            </select>
            <h6 class="mt-4">Sort by:</h6>
            <select class="form-control" @bind="sortFilter">
                <option value="">Price</option>
                @if(sortOrders != null) {
                    @foreach(string sortOrder in sortOrders) {
                        <option value="@sortOrder">@sortOrder</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col">
        @if (books is null) {
            <p>Loading...</p>
        }
        else {
            <div class="hstack flex-wrap gap-3">
                @foreach(Book book in filteredBooks) {
                    <BookCard Book="@book" />
                }
            </div>
        }
    </div>
</div>

@code {
    private BookstoreDb context { get; set; }
    private IEnumerable<Book> books => context.Books.AsNoTracking();
    private string genreFilter = string.Empty;
    private string sortFilter = string.Empty;
    private IEnumerable<Book> filteredBooks => books.Where(b => string.IsNullOrWhiteSpace(genreFilter) || b.Genre == genreFilter).OrderBy(b => sortFilter == "Price Ascending" ? b.Price : 0).OrderByDescending(b => sortFilter == "Price Descending" ? b.Price : 0);
    private IEnumerable<string> genres => books.Select(b => b.Genre).Distinct();
    private IEnumerable<string> sortOrders => new[] { "Price Ascending", "Price Descending" };
    protected override void OnInitialized() {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}